:root {
  --main-bg-color: rgba(224, 85, 57);
}
.bgMain{
  background: 
  linear-gradient(
    180deg,
    var(--main-bg-color),
    rgba(0, 0, 0, 1)
    );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 93vh;
}

.textStyle{
  text-shadow: 1px 1px 2px black;
  color: white;
}

.imgSizing{
  height: 50vh;
}